---
const headings = Astro.props.headings;
---

<aside class="hidden xl:block w-64 px-4 py-8">
  <div class="sticky top-24">
    <h3 class="font-medium text-neutral-light mb-4">On this page</h3>
    <ul class="space-y-2 text-sm">
      {headings.map(heading => (
        <li class={`pl-${(heading.depth - 1) * 4}`}>
          <a
            href={`#${heading.slug}`}
            class="text-neutral-light hover:text-primary transition"
          >
            {heading.text}
          </a>
        </li>
      ))}
    </ul>
  </div>
</aside>