---
---
<div class="flex items-center space-x-4">
  <a href="/login" class="text-gray-600 hover:text-purple-600">Login</a>
  <a href="/signup" class="bg-purple-600 text-white px-4 py-2 rounded-lg hover:bg-purple-700">Sign Up</a>
</div>